---
import Layout from '../layouts/Layout.astro';
import Button from '../components/button.astro';
import ProgressBar from '../components/progressBar.astro';
---
<Layout title="About Me">

<ProgressBar title="German" percentage={10}></ProgressBar>
<ProgressBar title="English" percentage={9}></ProgressBar>
<Button url="/public/files/english_certificate_finn_welzmueller.pdf" title="Certificate" external={false} small={true}></Button>
<ProgressBar title="Spanish" percentage={3}></ProgressBar>
<Button url="/public/files/cv_finn_welzmueller.pdf" title="Download my CV" external={false} small={false}></Button>
<Button url="https://www.github.com/FinnWelzmueller" title="Checkout my Code" external={true} small={false}></Button>

</Layout>