---
import '../styles/global.css';
import CVTag from './CVTag.astro';
export interface Props {
    name: string;
    yearStart: string;
    yearEnd?: string;
    tags?: string[];
    grade?: string;
    location?: string;
    url?: string;
}

const { name, yearStart, yearEnd, tags, grade, location, url } = Astro.props;

let yearDisplay: string;
if (!yearEnd) {
    yearDisplay = `since ${yearStart}`;
}
else if (yearStart === yearEnd) {
    yearDisplay = yearStart;
}
else {
    yearDisplay = `${yearStart} - ${yearEnd}`;
}
---
<div class="w-full min-h-20 border-b dark:border-light flex flex-col justify-center px-4">
  <div class="text-sm">
    {yearDisplay}
  </div>
  <div class="text-lg font-medium text-gray-900 dark:text-white">
    {name}
  </div>
  <div>
    <slot/>
  </div>
   {tags && tags.length > 0 && (
  <div class="mt-3 flex flex-wrap gap-2">
    {tags.map(tag => (
      <CVTag tag={tag} />
    ))}
  </div>
)}
</div>